ALERT_TO_EMAIL=mohamedsaidhachani93274190@gmail.com
KEYCLOAK_CLIENT_ID=backend-service-ava
KEYCLOAK_CLIENT_SECRET=hqA8kwlglpdiH9EkbJGFA9GVOmrC8H0L
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=master
